
flutter/ephemeral

# --- Archivos de Sistema (macOS, Windows, Linux) ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Dependencias (Ignorar carpetas pesadas) ---
node_modules/
jspm_packages/
bower_components/
vendor/

# --- Variables de entorno y credenciales (SEGURIDAD) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# --- Compilación y Builds ---
dist/
build/
bin/
obj/
*.exe
*.dll
*.so
*.class

# --- Logs y Bases de datos ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.sqlite

# --- IDEs y Editores ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

